.theme {
  background-color: var(--bgColor, #fff);
  color: var(--txtColor, #000);
  border: 1px solid grey;
}

.dark {
  --bgColor: #000;
  --txtColor: #fff;
}

.calm {
  --bgColor: #B3E5FC;
  --txtColor: #37474F;
}

.light {
  --bgColor: #f9f9f9;
  --txtColor: #2c2c2c;
}